@use '../abstracts/variables';
form {
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
        font-weight: 700;

        &:has(+ input[required]),
        &:has(+ textarea[required]) {

            &::after {
                content: ' *';
                color: variables.$base-color;
            }
        }
    }

    input {
        padding: 0.7rem;
        border: 2px solid variables.$base-color;
        margin-bottom: 2rem;
    }

    input:invalid:not(:placeholder-shown):not(:focus) {
        border: 2px solid #dc3545;
        outline-color: #dc3545;
    }

    input:valid:not(:placeholder-shown):not(:focus) {
        border: 2px solid #28a745;
        outline-color: #28a745;
    }

    input:invalid:focus {
        border: 2px solid #dc3545;
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }

    input:valid:focus {
        border: 2px solid #28a745;
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    }

    textarea {
        resize: none;
        height: 4rem;
        padding: 0.7rem;
        border: 2px solid variables.$base-color;
        margin-bottom: 2.5rem;
    }

    textarea:invalid:not(:placeholder-shown):not(:focus) {
        border: 2px solid #dc3545;
        outline-color: #dc3545;
    }

    textarea:valid:not(:placeholder-shown):not(:focus) {
        border: 2px solid #28a745;
        outline-color: #28a745;
    }

    textarea:invalid:focus {
        border: 2px solid #dc3545;
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }

    textarea:valid:focus {
        border: 2px solid #28a745;
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    }

    .btn {
        margin-top: 2rem;
        align-self: flex-start;
    }

    .controls {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }
}