@use '../abstracts/variables';

.product-card {
    width: 296px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;

    .img-container {
        box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.2);
        height: 400px;
        display: flex;
        position: relative;

        margin-bottom: 24px;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }

        .sale-marker {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: variables.$base-color;
            color: white;
            padding: 7px 11px;

            top: 15px;
            left: 15px;

            span {
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;

            }
        }

    }

    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        justify-content: flex-end;


        *:not(:last-child) {
            margin-bottom: 10px;
        }

        .product-title {
            text-align: center;

        }

        .product-price {
            font-weight: 700;
            font-size: 1.25rem;
            color: variables.$text-greyed;

        }

        .btn {
            padding: 0.8rem 2rem;
        }

    }
}