@use '../abstracts/variables';

#footer {
    font-family: variables.$footer-banner-header-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;


    .benefits-banner {
        h5 {
            margin-bottom: 3rem;

        }

        position: relative;
        color: white;

        display: flex;
        width: 100%;

        align-items: center;

        padding: 3rem 0;
        background-color: variables.$footer-banner-color;

        .benefits-container {
            width: 100%;
            gap: 2rem;
            display: flex;
            align-items: flex-start;

            .brnrfits {
                flex-wrap: wrap;
                align-items: center;

            }

            .benefit-card {
                gap: 1rem;
                display: flex;
                flex-direction: row;
                align-items: center
            }

        }
    }

    .benefits-banner::before {

        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: url('/src/assets/Path\ 17.png');
        background-repeat: repeat-y;
        background-size: 100% 50px;

        background-position: center;
        opacity: 0.1;
        z-index: 1;
    }

    .main-footer {
        h5 {
            font-size: 1rem;
            margin-bottom: 2rem;
        }

        display: flex;
        flex-direction: row;

        margin: 6rem 0;



        li:not(:last-child) {
            margin-bottom: 1rem;
        }

        a {
            text-decoration: none;
            color: #000000
        }

        .site-map {
            display: flex;
            flex: 0 0 50%;

            flex-wrap: wrap;

            flex-direction: row;
            row-gap: 5rem;
            justify-content: space-between;


            .subsection {
                flex: 0 1 30%;

            }

            .shipping {
                flex: 1 1 100%;
                line-height: 2rem;
            }
        }

        .contact-details {

            padding: 0 4rem;

            .subsection {
                margin-bottom: 6rem;
                text-align: justify;
            }

            .contact-info {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;





                align-items: center;
                gap: 1rem;

                .detail {
                    flex: 1 1 40%;
                    display: flex;
                    align-items: center;
                    line-height: 1.5rem;

                    gap: 1rem;

                    .img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }



    .copyright {
        opacity: 40%;
        padding: 2rem 0;
        color: #000000;
    }
}