@use '../abstracts/variables';

#footer {
    font-family: variables.$footer-banner-header-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;


    .benefits-banner {
        h5 {
            margin-bottom: 3rem;

        }

        position: relative;
        color: white;

        display: flex;
        width: 100%;

        align-items: center;

        padding: 3rem 0;
        background-color: variables.$footer-banner-color;

        .benefits-container {
            width: 100%;
            gap: 2rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .brnrfits {
                flex-wrap: wrap;
                align-items: center;
                justify-content: center
            }

            .benefit-card {
                gap: 1rem;
                display: flex;
                flex-direction: row;
                flex: 0 0 23%;
                align-items: center;
                align-self: center;
            }

        }
    }

    .benefits-banner::before {

        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: url('/src/assets/Path\ 17.png');
        background-repeat: repeat-y;
        background-size: 100% 50px;

        background-position: center;
        opacity: 0.1;
        z-index: 1;
    }

    .main-footer {
        h5 {
            font-size: 1rem;
            margin-bottom: 2rem;
        }

        display: flex;
        flex-direction: row;

        margin: 6rem 0;



        li:not(:last-child) {
            margin-bottom: 1rem;
        }

        a {
            text-decoration: none;
            color: #000000
        }

        .site-map {
            display: flex;
            flex: 0 0 50%;

            flex-wrap: wrap;

            flex-direction: row;
            row-gap: 5rem;
            justify-content: space-between;


            .subsection {
                flex: 0 1 30%;

            }

            .shipping {
                flex: 1 1 100%;
                line-height: 2rem;
            }
        }

        .contact-details {

            padding: 0 4rem;

            .subsection {
                margin-bottom: 6rem;
                text-align: justify;
            }

            .contact-info {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;





                align-items: center;
                row-gap: 1rem;

                .detail {
                    flex: 1 1 40%;
                    display: flex;
                    align-items: center;
                    line-height: 1.5rem;

                    gap: 1rem;

                    .img {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 20px;
                            height: auto;
                            aspect-ratio: 1/1;
                        }
                    }
                }
            }
        }
    }



    .copyright {
        opacity: 40%;
        padding: 2rem 0;
        color: #000000;
    }


}

@media screen and (max-width: 768px) {

    #footer {

        .benefits-banner {
            padding: 6rem 4rem;

            .wrapper {
                .banner {
                    text-align: center;

                    h5 {
                        font-size: 2.8rem;
                    }

                    .benefits-container {
                        flex-direction: column;
                        align-items: center;

                        .benefit-card {
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                }
            }




        }

        .main-footer {
            flex-direction: column;
            align-items: center;
            margin: 2rem;

            .site-map {
                flex-direction: row;
                row-gap: 0;
                flex: 1 1 50%;



            }

            .subsection {
                margin-bottom: 2rem;
            }

            .contact-details {
                padding: 0;

                .contact-info {
                    flex-direction: column;
                    gap: 0;

                    .detail {
                        flex: 1 1 100%;
                        flex-direction: column;
                        margin: 1rem;
                    }
                }

                .subsection {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #footer {


        .contact-info {
            flex-direction: column;
            align-items: flex-start;
        }

        .benefits-banner {
            padding: 3rem 2rem;
        }

        .main-footer.wrapper {
            padding: 3rem 1rem;
        }

        .main-footer .contact-details {
            padding: 0 0 0 2rem;

            .contact-info {
                flex-direction: column;
                align-items: flex-start;
            }
        }


        .benefits-banner .banner {
            padding: 3rem 2rem;

            .benefits-container {
                padding: 0 0 0 2rem;

                .benefit-card {
                    flex: 1 0 35%;
                }
            }
        }

        

    }
}


@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #footer {



        .main-footer.wrapper {
            padding: 3rem 2rem;
        }

        .benefits-banner .banner {
            padding: 3rem 2rem;

            .benefits-container {
                padding: 0 0 0 2rem;

                .benefit-card {
                    flex: 1 0 40%;
                }
            }
        }

        .main-footer .contact-details .contact-info {
            flex-direction: column;
            align-items: flex-start;

            .detail {
                img {
                    width: 20px;
                    height: auto;
                    aspect-ratio: 1/1;
                }
            }
        }
    }

}