.head-banner {
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        display: block;
        object-fit: cover;
        filter: brightness(60%);
    }

    .text-container {
        position: absolute;
        color: #FFFFFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        h1 {
            font-weight: 700;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.1rem;
            line-height: 2rem;
            font-weight: 400;
            width: 60%;
        }
    }

}

@media screen and (max-width: 768px) {
    .head-banner {

        img {
            height: 200px;
        }

        .text-container {
            width: 100%;
            padding: 0 2rem;

            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 0.7rem;
                width: 100%
            }
        }
    }

    .advantages {


        .advantages-container {
            flex-direction: column;
            margin: 4rem auto;
        }
    }

    .new-arrivals {

        .wrapper {
            flex-direction: column-reverse;
            gap: 2rem;

            h2 {
                font-size: 1.5rem;
                text-align: center;
                margin: 0 2rem;

            }

            p {
                font-size: 1rem;
                margin: 0 2rem;
                text-align: justify;
            }

            .call-to-action {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .btn {
                    margin-top: 2rem;
                    max-width: 80%;
                    text-align: center;
                }


            }
        }
    }

    .team {
        margin-bottom: 0;

        .wrapper {
            flex-direction: column;
            gap: 2rem;

            h2 {
                font-size: 1.5rem;
                text-align: center;
                margin: 0 2rem;

            }

            p {
                font-size: 1rem;
                margin: 0 2rem;
                text-align: center;
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    margin-bottom: 1rem;
                    font-size: 1rem;
                }
            }

            .team-container {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                img {
                    width: 100%;
                    height: auto;
                }

                h3 {
                    font-weight: 700;
                    margin-bottom: 1rem;
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 1rem;
                }
                .team-member {
                    padding-bottom: 2rem
                }
            }
        }

    }
    #team {
        margin-bottom: 2rem;

        .mb {
            margin-bottom: 0;
        }
    }
}
