@use '../abstracts/variables';
@use '../abstracts/mixins';

// HEADER SECTION //////////////////////////

header {
    display: block;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}

.top-header {


    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 40px 0;
    z-index: 999;

    .social-icons,
    .user-icons {
        flex: 1;
        display: flex;
    }

    .social-icons {
        justify-content: flex-start;
    }

    .user-icons {
        justify-content: flex-end;

        .cart-icon {
            position: relative
        }

        .cart-quantity {
            height: 20px;
            width: 20px;
            display: none;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -16px;
            right: -17px;
            color: variables.$base-color;
            font-weight: 600;
            font-size: 0.8rem;
            border: 3px solid variables.$base-color;

            border-radius: 50%;




        }

    }


    .social-icons a,
    .user-icons a {
        margin: 0 8px;
        color: #555;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .logo {
        flex: 1;
        display: flex;
        justify-content: center;

        a {
            font-size: 22px;
            font-weight: bold;
            color: variables.$base-color;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            img {
                background-color: #B92770;
                width: 32px;
                padding: 2px;
                border-radius: 7px;
            }
        }




    }

}

nav {

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        list-style: none;

        a {

            @include mixins.clear-a-deco;
            color: #000000;
            font-size: 1rem;
            font-weight: 700;
            padding: 5px 10px;

            &.active {
                color: variables.$base-color;
            }

            &:hover {
                color: variables.$base-color;
            }

        }
    }


}