
h1 {
    font-size: 3.125rem;
    font-weight: 900;
}

h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

h3 {
    font-size: 1.75rem;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

h5 {
    font-size: 1.25rem;
    font-weight: 700;
}

h6 {
    font-size: 1rem;
    font-weight: 500;
}

p {
    line-height: 28px;
}