@use '../abstracts/variables';

.smaller-banner {

    margin-bottom: 4rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text-container {
        h1 {
            margin-bottom: 0;
        }
    }
}

.cart-container {

    .cart-table {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-collapse: collapse;
        font-weight: 700;
        font-family: variables.$footer-banner-header-font;
        margin-bottom: 5rem;

        th,
        td {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-collapse: collapse;
        }

        th {
            flex: 1;
        }

        thead {
            background-color: variables.$table-greyed;
            color: #ffffff;
            display: flex;
            justify-content: space-between;
            align-items: center;


            tr {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                padding: 1.5rem 0;
            }

        }

        tbody {

            tr {
                display: flex;
                width: 100%;
                justify-content: center;

                justify-content: space-between;
                align-items: center;
                padding: 0.5rem 0;
                border-bottom: 2px solid variables.$base-color;
            }

            td>img {
                width: 120px;
                height: 120px;
                object-fit: contain
            }

            td {
                flex: 1;
                display: flex;
                text-align: center;

                justify-content: center;
                align-items: center;

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    -moz-appearance: textfield;
                    appearance: none;
                    margin: 0;
                }

                input[type=number] {
                    font-size: 1.5rem;
                    text-align: center;
                    border: none;
                    -moz-appearance: textfield;
                    appearance: textfield;
                }

                .qty-control {
                    button {
                        background-color: transparent;
                        color: #000;
                        font-size: 2rem;
                        border: none;

                    }
                }



            }

        }

    }

    .cart-summary {
        display: flex;
        flex-direction: row;
        color: #FFFFFF;
        justify-content: space-between;
        align-items: flex-start;

        margin-bottom: 5rem;

        .cart-controls {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            justify-content: space-between;
            align-items: flex-start;
        }

        .cart-total {

            width: 30rem;
            background-color: variables.$footer-banner-color;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 3rem;

            >div {
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-weight: 700;
                padding: 1rem 0;



            }

            .underlined {
                border-bottom: 2px solid variables.$base-color;
            }


            .totals {
                font-size: 1.2rem;
            }




            .btn {
                align-self: flex-start;
            }

        }

    }

    .nodata {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .smaller-banner {
        margin-bottom: 2rem;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .text-container {
            h1 {
                font-size: 1.6rem;
                margin-bottom: 0;
            }

            p {
                font-size: 0.9rem;
            }
        }
    }

    .cart-container {
        padding: 1rem;

        .cart-table {
            margin-bottom: 2rem;
            font-size: 0.9rem;

            thead {
                display: none;
            }

            tbody {
                tr {
                    display: flex;
                    flex-direction: column;
                    grid-template-columns: 120px 1fr;
                    gap: 1rem;
                    margin-bottom: 1.5rem;
                    padding: 1rem;
                    align-items: center;
                    border: 2px solid variables.$base-color;


                    td {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 2rem;

                        &:nth-child(1) {
                            justify-content: center;
                            margin-bottom: 0.5rem;

                            img {
                                width: 80px;
                                height: 80px;
                                object-fit: contain;
                            }
                        }

                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(5) {
                            justify-content: space-between;

                            &::before {
                                content: attr(data-label);
                                font-weight: 700;
                                flex-shrink: 0;
                            }
                        }

                        &:nth-child(4) {
                            flex-direction: column;
                            align-items: flex-start;

                            &::before {
                                content: attr(data-label);
                                font-weight: 700;
                                margin-bottom: 0.5rem;
                                width: 100%;
                            }

                            .qty-control {
                                width: 100%;
                                display: flex;
                                gap: 0.5rem;
                                justify-content: center;
                            }
                        }

                        &:nth-child(6) {
                            justify-content: space-between;

                            &::before {
                                content: attr(data-label);
                                font-weight: 700;
                                flex-shrink: 0;
                            }
                        }

                        input[type=number] {
                            font-size: 1rem;
                            width: 60px;
                        }

                        .qty-control {
                            button {
                                font-size: 1.5rem;
                                padding: 0 0.5rem;

                                background-color: variables.$base-color;
                            }
                        }
                    }
                }
            }


        }

        .nodata {
            text-align: center;
            padding: 2rem;
            font-size: 1.1rem;
        }

        .cart-summary {
            flex-direction: column;

            .cart-controls {
                margin-bottom: 2rem;
            }

            .cart-total {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .cart-container {
        .cart-summary {

            align-items: center;

            .cart-controls {
                flex-direction: column;
                width: 50%;
                height: 100%;
                justify-content: center;

                >* {
                    align-self: center
                }
            }

        }
    }
}