@use '../abstracts/variables';

.contacts {
    .contacts-container {
        display: flex;
        margin: 8rem auto;
        gap: 5rem;

        .contacts-card {
            flex: 1 1 20%;
            display: flex;
            flex-direction: column;

            justify-content: flex-start;
            align-items: center;
            text-align: center;

            gap: 24px;

            .icon-img {
                width: 62px;
                height: 62px;
                margin-bottom: 16px;
                background-color: variables.$base-color;

                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 70%;
                    width: auto;
                }

            }
        }
    }
}

.feedback-section {
    margin-bottom: 9rem;
}

.feedback-section .wrapper {
    display: flex;
    gap: 2.5rem;


    .img-container {
        flex: 1 1 50%;
        min-width: 300px;
        display: flex;
        height: 700px;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .form-container {
        flex: 1 1 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 2rem;

        h5 {
            margin-bottom: 2rem;
            font-size: 1.5rem;

        }


        a.btn {
            margin-top: 0;
        }



    }

    .hidden {
        display: none;
    }

    .success {
        color: green;
        font-size: 0.76rem;
    }

    .error {
        color: red;

    }

}

#contact-form .controls {
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .contacts {
        .contacts-container {
            flex-direction: column;
            margin: 3rem auto;
            gap: 2rem;

            .contacts-card {
                flex: 1 1 100%;
            }
        }
    }

    .feedback-section {
        margin: 1rem 2rem;

        .wrapper {
            flex-direction: column;
            gap: 1rem;
        }

        .img-container {


            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
            }
        }

        .form-container {
            flex: 1 1 100%;
            margin: 2rem;

            h5 {
                font-size: 1.2rem;
                margin-bottom: 1.5rem;
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }



    #contact-form {


        .controls {
            flex-direction: column;
            gap: 1rem;
        }

    }

    #submit-feedback {
        align-self: center;

        padding: 1rem 7rem;


    }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .contacts.wrapper {
        div.contacts-container {
            margin: 3rem 1rem;

            flex-wrap: wrap;

            >* {
                flex: 1 0 40%;
            }
        }
    }

    #advantages-container {
        flex-direction: row;
        flex-wrap: wrap;

        .advantage-card {
            flex: 1 0 40%;
        }
    }
           #feedback-section {
               margin: 1rem 2rem;
           }

}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #feedback-section {
        margin: 1rem 2rem;
    }
}