$base-color: #B92770;
$icon-color: #000000;
$text-greyed: #504E4A;
$table-greyed: #504E4A;
$footer-banner-color: #504E4A;
$star-color: #F5B423;
$text-light-greyed: #727174;
$font: 'Montserrat', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-size: 17px;
$footer-banner-header-font: "Helvetica Neue", "Inter", sans-serif;
$footer-content-font: "Helvetica Neue", "Inter" sans-serif;
$select-field-border: #E9E9ED;