@use './layouts/header';
@use './layouts/footer';
@use './components/buttons';
@use './base/reset';
@use './base/fonts';
@use './abstracts/variables';
@use './abstracts/mixins';
@use './layouts/head-banner';
@use './pages/about';
@use './pages/contact';
@use './pages/cart';
@use './layouts/modal';
@use './components/forms';
@use './components/product-card';
@use './pages/product-details';
@use './pages/catalog';



/* CSS reset */
html {
    font-size: variables.$font-size;
    box-sizing: border-box;
    font-family: variables.$font;
}

.mb {
    margin-bottom: 7.5rem;
}

// WRAPPER
.wrapper {
    max-width: 1300px;
    margin: 0 auto;

}





.section-header {
    text-align: center;
    margin-bottom: 5rem;

    h2 {
        margin-bottom: 10px;
    }

    p {
        color: variables.$text-greyed;
    }
}


// MAIN  //////////////////////////
// ----- HERO SECTION ------ //

.hero {
    background-color: #E7E8E9;
    padding: 100px 0;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .text-container {

        flex: 1 1 40%;

        >* {
            margin-bottom: 30px;
        }


        p {
            color: variables.$text-greyed;
        }



    }

    .img-container {
        flex: 1 1 50%;

        img {
            width: 100%;
            height: auto;
        }
    }

}

// ----- CMO SECTION ------ //
.marketing {
    position: relative;
    margin-bottom: 5rem;

    .wrapper {
        background-color: #ffffff;
        transform: translateY(-15%);



        display: flex;
        flex-wrap: wrap;
        height: 566px;

        -webkit-box-shadow: 8px 8px 34px 0px rgba(66, 68, 90, 0.2);
        -moz-box-shadow: 8px 8px 34px 0px rgba(66, 68, 90, 0.2);
        box-shadow: 8px 8px 34px 0px rgba(66, 68, 90, 0.2);


        justify-content: space-between;
        align-items: stretch;

        .cmo-message {
            flex: 1;
            display: flex;
            flex-direction: column;

            .message-wrapper {
                margin: 70px;

                .cmo {
                    display: flex;
                    flex-direction: column;
                    align-content: flex-end;

                    img {
                        width: 85px;
                    }


                    .cmo-text {
                        display: flex;
                        gap: 22px;
                        align-items: center;

                    }

                    .cmo-credentials {

                        >* {
                            margin-bottom: 10px;
                        }

                    }

                        h5 {
                            font-weight: 700;
                        }

                        .quote {
                            display: flex;
                            flex-direction: column;
                            align-items: space-between;
                            justify-content: space-between;

                            h2 {
                                line-height: 3.5rem;
                                margin-bottom: 2rem
                            }

                            >p {
                                color: variables.$text-greyed;
                                margin-bottom: 20px;
                                font-size: 1rem;
                            }

                        }
                    }
                }

            }

            .marketing-img-container {
                position: relative;
                flex: 1;
                height: inherit;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;



                }


                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: #000000;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0.5;
                    z-index: 1;
                }



                .marketing-discount {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 70%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding-left: 4rem;
                    color: white;
                    z-index: 2;

                    >* {
                        margin-bottom: 30px;
                    }
                }



            }





        }
    }

    // ----- TRAVEL SUITCASES SECTION ------ //

    .travel-suitcases {

        .slider-container {
            position: relative;

            i {
                visibility: hidden;
                width: 50px;
                height: 50px;
                background-color: #ffffff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                z-index: 2;
                cursor: pointer;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

            }

            &:hover i {
                visibility: visible;
            }

            i:first-child {

                left: 20px;
                top: 50%;
                transform: translateY(-50%);
            }

            i:last-child {
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }


            .carousel {
                overflow: hidden;

                scroll-behavior: smooth;
                position: relative;
                height: 600px;

                display: flex;
                flex-direction: row;

                *:not(:last-child) {
                    margin-right: 2.3rem;
                }


                .card {


                    .img {
                        position: relative;
                        height: 600px;
                        width: 296px;
                        display: block;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: filter 0.7s, transform 0.7s;
                        }

                        .text-overlay {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            color: white;
                            z-index: 10;
                            text-align: left;
                            opacity: 0;
                            visibility: hidden;
                            transition: opacity 0.7s, visibility 0.7s;
                            pointer-events: none;
                            max-width: 100%;

                            padding: 2rem;

                            h5 {
                                font-weight: 700;
                                margin-bottom: 1rem;
                            }

                            p {
                                margin: 0;
                                font-weight: 400;
                                font-size: 1.1rem;
                                overflow-wrap: break-word;


                            }
                        }

                        &:hover img {
                            transform: scale(1.1);
                            filter: brightness(60%);
                        }

                        &:hover .text-overlay {
                            opacity: 1;
                            visibility: visible;
                        }
                    }


                }
            }


        }

    }

    .cmo>* {
        margin-bottom: 2rem;
    }

    // ----- SELECED SUITCASES SECTION ------ //

    .selected-products-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-between;

        .product-card {
            @include mixins.product-card;

        }


    }

    // ----- SPECIAL OFFER SECTION ------ //
    .special-offer {
        min-height: 400px;

        .special-offer-container {
            position: relative;

            display: flex;
            overflow: hidden;
            background-color: #000000;

            img {


                object-fit: contain;
                object-position: 50% 50%;
                opacity: 50%;


            }

            .special-offer-text {
                width: 100%;
                height: 100%;
                position: absolute;
                flex-wrap: wrap;

                display: flex;
                color: white;


                .left-column {
                    flex: 0 0 50%;
                    padding-top: 3.5rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    span {
                        font-weight: 900;
                        font-size: 12rem;

                    }
                }

                .right-column {
                    padding-top: 5rem;
                    flex: 0 0 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    >* {
                        margin-bottom: 2rem;
                        margin-left: 3rem;
                    }

                    h4 {
                        font-weight: 900;
                        font-size: 2.5rem;


                    }

                    p {
                        max-width: 70%;
                    }



                    .btn {
                        align-self: flex-start;
                    }
                }

            }



        }

    }


    // ----- NEW ARRIVALS SUITCASES SECTION ------ //
    .new-products {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-between;

        .new-products-container {

            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: space-between;

            .product-card {
                @include mixins.product-card;
            }
        }
    }

    // ----- OPINION SECTION ------ //

    .our-customers {
        .our-customers-container {
            display: flex;

            flex-direction: row;
            gap: 1.5rem;

            .opinion-card {
                width: 33%;
                max-height: 336px;

                box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.1);


                padding: 2rem;

                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;





                *:not(:last-child) {
                    margin-bottom: 2rem;

                }

                .photo-container {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                }

                .customer-opinion {
                    span {
                        line-height: 2rem;
                        font-size: 1rem;
                    }
                }

                .customer-location {
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: variables.$base-color;
                }


            }
        }
    }



    // ----- FOOTER SECTION ------ //

    